# Section 04. 딕셔너리

##1. 딕셔너리 생성과 자료 저장

In [ ]:
my_dict={}
my_dict

{}

In [ ]:
my_dict1=dict( )
my_dict1

{}

##2. 딕셔너리 원소의 접근과 사용

###키 설정하기

In [ ]:
my_stocks={'ss':10, 'lg':5, 'sk':5}
print("number of my ss stocks: %d" % my_stocks['ss'])

number of my ss stocks: 10

중복이 허용되는 리스트는 딕셔너리의 키로 사용할 수 없고 튜플이나 문자형은 키로 사용할 수 있다.

In [ ]:
my_stocks1={['ss','lg']: 10}

TypeError: ignored

In [ ]:
my_stocks2={('ss','lg'): 10} # 튜플이나 문자형은 딕셔너리의 키로 사용 가능
my_stocks2

{('ss', 'lg'): 10}

###키와 값 사용하기

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5}
my_stocks['lg']=15
my_stocks

{'ss': 10, 'lg': 15, 'sk': 5}

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5}
my_stocks['naver']=20
my_stocks

{'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
my_stocks['ss']

10

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print("number of my ss stocks: %d" % my_stocks['ss']) # %d 정수형

number of my ss stocks: 10

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
ss_has_price="ss" in my_stocks
ss_has_price

True

##3. 딕셔너리에 유용한 내장 함수
### 모든 키 출력하기: keys 함수

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print("Keys: %s" % my_stocks.keys( ))

Keys: dict_keys(['ss', 'lg', 'sk', 'naver'])

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print(f"Keys: {my_stocks.keys( )}")

Keys: dict_keys(['ss', 'lg', 'sk', 'naver'])

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for value in my_stocks.keys( ):
  print(value)

ss
lg
sk
naver

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for key in my_stocks.keys( ):
  print(key, my_stocks[key])

ss 10
lg 5
sk 5
naver 20

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
my_stocks_list=list(my_stocks.keys( ))
my_stocks_list

['ss', 'lg', 'sk', 'naver']

### 모든 값 출력하기: values 함수

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
print("Values: %s" % my_stocks.values( ))

Values: dict_values([10, 5, 5, 20])

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for value in my_stocks.values( ):
  print (value)

10
5
5
20

### 키와 값 모든 쌍 출력하기: items 함수

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
my_stocks_list1=list(my_stocks.items( ))
my_stocks_list1

[('ss', 10), ('lg', 5), ('sk', 5), ('naver', 20)]

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
for value in my_stocks.items( ):
  print (value)

('ss', 10)
('lg', 5)
('sk', 5)
('naver', 20)

### 값 가져오기: get 함수

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
ss_quantity=my_stocks.get("ss", 100) # ❶
ss_quantity

10

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
ss_quantity=my_stocks.get("kt", 100) # ❷
ss_quantity

100

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
no_ones_price=my_stocks.get("skt") # ❸
print(no_ones_price)

None

###키와 값 확인하기: in 연산자와 내장 함수의 결합

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks

True

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"kt" in my_stocks

False

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks.keys( )

True

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks.values( )

False

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
10 in my_stocks.values( )

True

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
"ss" in my_stocks.items( )

False

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
('ss', 10) in my_stocks.items( ) # 튜플로 표현됨

True

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
try:
  kt=my_stocks["kt"]
except KeyError:
  print("no price for kt!")

no price for kt!

In [ ]:
my_stocks={'ss': 10, 'lg': 5, 'sk': 5, 'naver': 20}
try:
  ss=my_stocks["ss"]
  print("ss exists")
except KeyError:
  print("no price for ss!")

ss exists