# [파이썬 기초] 변수,자료형

## 1. 파이썬 기초: 연산자와 변수

### Help 이용하기

* ?함수명

In [ ]:
?print

* () 괄호 사이를 클릭하고 Shift + Tab을 누르면 설명이 나타남

In [ ]:
sum()

### 기본 연산자

* 숫자 연산자

In [ ]:
# // 나눗셈의 몫
23 // 7

3

In [ ]:
# % (모듈로) 나눗셈의 나머지
23 % 7

2

In [ ]:
# ** 지수연산
2 ** 3

8

In [ ]:
print(0.002, 2*10**-3, 2e-3)

0.002 0.002 0.002

* 문자 연산자

In [ ]:
# +
'abc' + 'efg'

'abcefg'

In [ ]:
# *
'좋아요' * 10

'좋아요좋아요좋아요좋아요좋아요좋아요좋아요좋아요좋아요좋아요'

### [실습 추가문제 - 숫자, 문자 다루기]

In [ ]:
# 두 수 178, 13가 있습니다.
# 두 수를 나눴을 때 몫과 나머지를 구해 보세요.
print(178//13)
print(178%13)

13
9

In [ ]:
# 563421 이 3의 배수인지 확인해 봅시다.
563421 % 3

0

In [ ]:
# 별표 '*'를 10개 출력해 봅시다.
print('*' * 10)

**********

In [ ]:
# 'a'와 'A' 둘 중 누가 더 큰지 비교해 봅시다.
'a' < 'A'

False

In [ ]:
# 'abc'와 'ABC' 가 같은지 비교해 봅시다
'abc' == 'ABC'

False

### 변수

* 숫자형 변수를 위한 특별한 연산자
    * +=
    * -=
    * *=
    * /=

In [ ]:
a = 1
a += 1    # a = a + 1
print(a)

2

* 셀의 결과를 출력할 때, print를 씁니다. (print문의 모든 결과 출력)
* print를 안쓰면 제일 마지막 결과만 화면에 출력됩니다.

In [ ]:
a

2

In [ ]:
b = 3
print(a)
print(b)

2
3

In [ ]:
a
b

3

### [실습-변수]

In [ ]:
# 변수 c에 10을 담고 확인합니다.
c = 10
print(c)

10

In [ ]:
# += 연산자와 유사한 연산자를 사용하여,
# c에서 2를 빼서 c에 저장하고 값을 확인합니다.
c -= 2
print(c)

# 이어서, c에서 2를 나눠서 c에 저장하고 값을 확인합니다.
c /= 2
print(c)

# 이어서, c의 3승을 구해서 c에 저장하고 값을 확인합니다.
c **= 3
print(c)

8
4.0
64.0

## 2. 파이썬 기초: 리스트(list)
* 대괄호로 선언
        a = [2,3,4,5,6]

### 리스트 생성

In [ ]:
list_a = [1,2,3,'a']
list_a

[1, 2, 3, 'a']

* 리스트 안에 보통, 동일한 데이터 타입(숫자, 문자...)으로 만듭니다.

### range 함수

* range(시작값, 끝값, 증분값)
    * 시작값 : 생략가능. 생략하면 0
    * 끝값 : 사실 끝값이 아니라 끝값 바로 전까지. 생략 불가
    * 증분값 : 증가시키는 값. 생략하면 1

* range함수의 결과를 눈으로 보려면 list() 안에 넣어야 한다.

In [ ]:
# 0부터 10 전까지, 1씩 증가시켜라.
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 0부터 10 전까지, (1씩) 증가시켜라.
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# (0부터) 10 전까지, (1씩) 증가시켜라.
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 10부터 1 전까지, -1씩 증가시켜라.
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
# 3부터 100까지 3의 배수를 리스트에 담아 봅시다.
a = list(range(3,101,3))
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### 리스트 사용하기

* 리스트 사용하기 : 인덱스로 호출

In [ ]:
list_b = [1,5,21,13,6]

print(list_b[0], list_b[1], list_b[2])

1 5 21

In [ ]:
print(list_b[-1], list_b[-2], list_b[-3])

6 13 21

* 리스트 사용하기 : 인덱스 범위로 호출
    * list[시작인덱스:끝인덱스]
        * 끝인덱스 :
            * 사실 끝인덱스 바로 전까지
            * 생락하면, 끝까지
        * 시작인덱스 : 생략하면 처음부터~

In [ ]:
list_b[1:3]

[5, 21]

In [ ]:
list_b[:3]

[1, 5, 21]

In [ ]:
list_b[2:]

[21, 13, 6]

### 리스트 관련 메소드: 리스트 제일 끝에 값 추가

In [ ]:
# 값 추가하기 : .append
list_b.append(100)
list_b

[1, 5, 21, 13, 6, 100]

### [실습]

In [ ]:
# range 함수를 사용하여 1 이상 100 이하의 홀수를 리스트에 담아 봅시다.
list_c = list(range(1, 101, 2))
print(list_c)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
# 인덱스 11에 해당하는 데이터를 조회합시다.
list_c[11]

23

In [ ]:
# 끝에서 5번째 값을 조회합시다.
list_c[-5]

91

In [ ]:
# 인덱스 10~20까지 데이터를 조회합시다.
list_c[10:20]

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [ ]:
# 101,103,105 를 리스트에 추가합시다.
list_c.append(101)
list_c.append(103)
list_c.append(105)
print(list_c)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 101, 103, 105]

In [ ]:
# range 함수를 사용하여 1 이상 100 이하의 홀수를 리스트에 담아 봅시다.
list_c = list(range(1, 101, 2))

# 101,103,105 를 리스트로 묶어서 추가합니다.
list_c.append([101, 103, 105])
print(list_c)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, [101, 103, 105]]

## 3. 파이썬기초: 딕셔너리

* 딕셔너리는
    * 다양한 자료형을 하나로 묶어 놓은 자료형
    * key : value 쌍으로 구성

### 딕셔너리 생성하기
* d = { 'a':1, 'b':[2,3,4,5,6], 'c':{'v1':0.1, 'v2':[8,9]}}

In [ ]:
d = { 'a':1, 'b':[2,3,4,5,6], 'c':{'v1':0.1, 'v2':[8,9]}}
d

{'a': 1, 'b': [2, 3, 4, 5, 6], 'c': {'v1': 0.1, 'v2': [8, 9]}}

### 조회하기
* 딕셔너리는 인덱스가 아니라 키로 값을 조회합니다.

In [ ]:
d['a']

1

In [ ]:
d['b']

[2, 3, 4, 5, 6]

In [ ]:
d['c']

{'v1': 0.1, 'v2': [8, 9]}

* 조회시 나온 결과를 하나의 자료형으로 보고 추가 조회 가능

In [ ]:
# d['b'] 의 결과는 리스트. 그러므로 하위 값을 [인덱스]로 조회 가능
print(d['b'])
print(d['b'][2])
print(d['b'][1:3])

[2, 3, 4, 5, 6]
4
[3, 4]

* 딕셔너리의 구성요소 조회
    * .keys() : 딕셔너리의 key 만 조회하기
    * .values() : 딕셔너리의 값 만 조회하기
    * .items() : key와 값을 쌍(tuple)으로 조회

In [ ]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [ ]:
d.values()

dict_values([1, [2, 3, 4, 5, 6], {'v1': 0.1, 'v2': [8, 9]}])

In [ ]:
d.items()

dict_items([('a', 1), ('b', [2, 3, 4, 5, 6]), ('c', {'v1': 0.1, 'v2': [8, 9]})])

### [실습]
위에서 만든 딕셔너리 d를 다시 생성합시다.

In [ ]:
d = { 'a':1, 'b':[2,3,4,5,6], 'c':{'v1':0.1, 'v2':[8,9]}}

다음을 조회하시오

In [ ]:
# 4
d['b'][3]

4

In [ ]:
# 4, 5, 6
d['b'][2:]

[4, 5, 6]

In [ ]:
# 0.1
d['c']['v1']

0.1

In [ ]:
# 9
d['c']['v2'][1]

9